*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}



.socialNav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1876f2 !important;
    padding: 5px 5%;
    position: sticky;
    top: 128px;
    z-index: 100;
}

.logo{
    width: 160px;
    margin-right: 45px;
}

.navbar {
    background: #ffffff;
    height: 72px;
}

.nav-left, .nav-right{
    display: flex ;
    align-items: center;
   
}

.nav-left ul li{
    list-style: none;
    display: inline-block;
}

.nav-left ul li img{
    width: 28px;
    margin: 0 15px;
}


.nav-user-icon img{
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.nav-user-icon {
    margin-left: 30px;
}

.search-box{
    background: #efefef;
    width: 350px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.search-box img{
    width: 18px;
}

.search-box input{
    width: 100%;
    background: transparent;
    height: 30px;
    padding: 10px;
    border: 0;
    outline: none;
}

.online{
    position: relative;
}

.online::after{
    content: '';
    width: 10px;
    height: 10px;
    border: 2px solid #fff;
    border-radius: 50%;
    background: #41db51;
    position: absolute;
    top: 0;
    right: 0;
}

.container1 {
    display: flex;
    position: relative;
    top: -23.5px;  
    /* scroll e plm hoile top er vlu cng krte hobe */
    height: 494px;
}

.left-sidebar {
    flex-basis: 26.5%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
    margin-left: 14px;
    margin-top: 6px;
   
}


.imp-links a, .shortcut-links a{
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    color: #626262;
    width: fit-content;
}

.imp-links a img{
    width: 25px;
    margin-right: 15px;
}

.imp-links a:last-child{
    color: #1876f2 ;
}

.imp-links {
    position: relative;
    top: 10px;
    margin-right: 10px;
}

.shortcut-links a img{
    width: 40px;
    border-radius: 4px;
    margin-right: 15px;
}

.shortcut-links p{
    margin: 20px 0;
    color: #626262;
    font-weight: 500;
}

.sidebar-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
}

.sidebar-title h4{
    font-weight: 600;
    font-size: 14px;
}

.right-sidebar a{
    text-decoration: none;
    color: #1876f2;
    font-size: 12px;
}

.event{
display: flex;
font-size: 14px;
margin-bottom: 20px;
}

.left-event{
border-radius: 10px;
height: 65px;
width: 65px;
margin-right: 15px;
text-align: center;
position: relative;
overflow: hidden;
box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.event p{
    font-size: 12px;
}

.event a{
font-size: 12px;
text-decoration: none;
color: #1876f2;
}

.left-event span{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #1876f2;
    color: #fff;
    font-size: 10px;
    padding: 4px 0;
}

img.sidebar-ads {
    width: 300px;
    margin-bottom: 20px;
    border-radius: 4px;
}

.online-list{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.online-list .online img{
    width: 40px;
    border-radius: 50%;
}

.online-list .online{
    width: 40px;
    border-radius: 50px;
    margin-right: 15px;
}

.online-list .online::after{
    top: unset;
    bottom: 0;
}

.write-post-container {
    width: 100%;
    background: #ffe6e6;
    border-radius: 8px;
    padding: 20px;
    color: #626262;
    margin-bottom: 10px;
}

.user-profile{
    display: flex;
    align-items: center;
}

.user-profile img{
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-profile p{
    margin-bottom: -5px;
    font-weight: 500px;
    color: #626262;
}

.user-profile small{
    font-size: 12px;
}

.post-input-container{
    padding-left: 55px;
    padding-top: 20px;
}

.post-input-container textarea{
    width: 100%;
    border: 0;
    outline: 0;
    background: transparent;
    resize: none;
}

.add-post-link{
    display: flex;
    margin-top: 10px;
}

.add-post-link a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #626262;
    margin-right: 30px;
    font-size: 13px;
}

.add-post-link a img{
    width: 20px;
    margin-right: 10px;
}

.post-container{
    width: 100%;
    background: #ffe6e6;
    border-radius: 6px;
    padding: 20px;
    color: #626262;
    margin: 20px 0;
}

.user-profile span{
    font-size: 13px;
    color: #9a9a9a;
}

.post-text{
    color: #9a9a9a;
    margin: 15px 0;
    font-size: 15px;
}

.post-img{
    width: 100%;
    border-radius: 4px;
    margin-bottom: 5px;
}

.hr {
    height: 5px;
    background: #7878b5;
    top: -24px;
    position: relative;
}

::-webkit-scrollbar{
    width: 4px;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb{
    background-color: #d5d3d3;
}

.mid {
    scrollbar-gutter: stable both-edges;
    overflow: auto;
    width: 44%;
    height: 516px;
}

.video{
    border-radius: 5px;
}

iframe {
    width: 350px;
    height: 265px;
    position: relative;
    top: -5px ;
    border-radius: 5px;
}

.ifrm2 {
    width: 366px;
    height: 320px;
    position: relative;
    top: -5px;
    border-radius: 5px;
}

.right-sidebar {
    position: sticky;
    top: 70px;
    align-self: flex-start;
    margin-left: 11px;
    margin-top: 5px;
  
   
}



hr.hrLft {
    width: 335px;
}